nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.nav--right {
  justify-content: flex-end;
}

.nav__links {
  display: flex;
  flex-direction: row;
}

.nav__link {
  list-style-type: none;
  margin-left: 28px;
}

.nav__link a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}